.urgent-section {
    background-color: #f8d7da; 
    padding: 15px;
    border: 1px solid #dc3545; 
    border-radius: 5px;
  }

  .urgent-title {
    color: #dc3545; 
    font-weight: bold;
    margin-bottom: 10px;
  }

  .job-info p {
    margin-bottom: 5px;
  }
  
.navbar-nav{
  column-gap: 30px;
}
.navbar-brand{
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  margin-right: 10px;
}
